.navbar {
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

section {
    padding: 0 36px;
}

.hero-container img{
    margin: 0 auto;
    padding: 3rem 0;
    max-width: 400px;
}

.hero-container h1 {
    margin-top: 32px;
    font-size: 36px;
    font-weight: 600;
}

.hero-container p {
    margin-top: 16px;
    font-size: 16px;
    max-width: 320px;
    font-weight: 300;
    color: #222222;
}

/* cards */

.cards-wrapper {
    display: flex;
    padding: 0 30px;
    flex-wrap: nowrap;
    overflow: scroll;

}

.cards {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 0 20px 0 0;
}

.cards-container {
    max-width: 176px;
}

.card--img {
    position: relative;
}

.card--img img{
    width: 176px;
}

.card--img p {
    position: absolute;
    font-size: 10.24px;
    margin: 5px;
    padding: 2px 3px;
    background-color: white;
    top: 0;
}

.rating {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin: 5px;
}

.rating :nth-child(n) {
    margin: 0 2px;
}

.rating img {
    width: 14px;
}

.num-of-reviews {
    color: #918E9B;
}

.location {
    color: #918E9B;
}

.card--title h3 {
    font-weight: 300;
    color: #222222;
    font-size: 12px;
}

.pricing {
    font-size: 12px;
    font-weight: 300;
}

.price span {
    font-weight: bold;
}